<div class="container-fluid">

  <div class="row">
    <!-- <div class="col-xs-1"></div> -->
    <div class="col-xs-4 text-center" id="colButton">
      <a target="_blank" href="https://www.facebook.com/bogdan.epure.3"><button  id="botButton">Facebook <i class="fa fa-facebook-official"></i></button></a>
      </div>

      <!-- <div class="col-xs-1"></div>       -->
      <div class="col-xs-4 text-center" id="colButton">
      <a target="_blank" href="https://github.com/BogdanAE"><button   id="botButton">GitHub <i class="fa fa-github"></i></button></a>
        </div>

        <!-- <div class="col-xs-1"></div>         -->
        <div class="col-xs-4 text-center" id="colButton">
          <button  id="botButton"><span id="contact">Contact </span> <i class=" fa fa-rss" ></i></button>
      </div>  
  </div>

</div>
