<div class="container-fluid" id="mainContainer">
  <br>

  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 text-center">
      <a [routerLink]="['/topic', 'java-script']"><button class="btn btn-danger" id="button"><i class="fa fa-code"></i>Java-Script</button></a>
    </div>
  </div>

<br>

<div class="row">
  <div class="col-xs-3"></div>
    <div class="col-xs-6 text-center">
        <a [routerLink]="['/topic', 'c++']"><button class="btn btn-warning" id="button"><i class="fa fa-gear"></i> C/C++</button></a>
    </div>
</div>

<br>

<div class="row">
    <div class="col-xs-3"></div>
      <div class="col-xs-6 text-center">
          <a [routerLink]="['/topic','servers']"><button class="btn btn-success" id="button"><i class="fa fa-share-alt"></i> Servers</button></a>
      </div>
  </div>


</div>